{% extends 'base.html.twig' %}

{% block title %}Mon compte - commerce{% endblock %}

{% block body %}

    <h1>Mon compte</h1>

    <hr>

    - <a href="#">Mon mot de passe</a> <br>
    - <a href="{{ path('profile_address') }}">Mes adresses</a> <br>
    - <a href="#">Mes commandes</a>

{% endblock %}
