/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.btn-icon {
    color: #198754;
    font-size: 1.3em;
}

.sticky-top-info {
    display: block;
    position: sticky;
    top: 60px;
}

.nav-bread {
    font-size: 13px;
}

.nav-link.nav-header {
    color: hsla(0,0%,100%,.55);
}

.nav-link.nav-header:hover {
    color: #fff;
}

.container.footer {
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


/* PRODUCT STYLES
-------------------------------------------------- */
/* index.html.twig */

.figure-caption-price {
    font-weight: 600;
}

.figure-caption-brand {
    font-weight: 500;
}

.figure-btn-add-cart {
    float: right;
}

/* PROFILE STYLES
-------------------------------------------------- */
/* index.html.twig */

.profile {
    margin-bottom: 1.75rem;
}

.profile-card {
    padding: 70px;
}

.profile-card-title {
    text-align: center;
    text-transform: uppercase;
}

.profile-card-link {
    color: #000;
}

.profile-card-link:hover {
    color: #6c757d;
}

/* address.html.twig */
.profile-address-btn {
    float: right;
}

.profile-address-delete-link {
    float: right;
}

/* CART STYLES
-------------------------------------------------- */
/* index.html.twig */

.img-fluid.cart-img {
    height: 100px;
}

.cart-link-checkout {
    float: right;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {  
    .featurette-heading {
        font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}